* {
  box-sizing: border-boxcd;
}

body header nav img {
  width: 100px;
} 

header {
  width: 100%;
  background-color: lightseagreen;
  padding: 10px;
  border-bottom: #E7D4C0 5px solid;
}

nav {
  margin: 0 auto;
  width: 960px;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li a {
  padding: 20px;
  text-decoration: none;
  
}

p {
  width: 700px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-style: italic;
}

main {
  margin: 30px auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


main div ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div ul li:nth-child(4) {
  margin-left: 150px;
  margin-top: 10px;
}

div ul li:nth-child(5) {
  margin-right: 150px;
  margin-top: 10px;
}

main article h2 ul li  {
  display: flex;
  justify-content: left;
}


main article ul li span{
  padding: 5px;
  color: white;
  display: flex;
} 

footer {
  background-color:lightseagreen;
  width: 100%;
  padding: 25px;
  margin-top: 30px;
  border-top: #E7D4C0 5px solid;
}

footer p {
  font-size: 18px;
  margin-bottom: 2px;
}



body {
  font-family: 'Source Sans Pro', sans-serif;
  color: darkorange;
    background-color: lightslategray;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
    background-color: lightgrey;
    margin: 50px;
    border-style: solid;
    padding: 1em;
    
}

th {
    padding 5px;
    text-decoration: underline;
}

td {
   align-content: center; 
}

/* Form */
form {
  color: black;
  background-color: lightseagreen;
  margin: 50px  200px;
}
